gnewsclient==1.12
hypothesis==6.36.1
opencv_python==4.5.5.62
PyAutoGUI==0.9.53
pycodestyle==2.7.0
PyGetWindow==0.0.9
pytest==6.2.4
pyttsx3==2.90
pywhatkit==5.3
setuptools==58.0.4
SpeechRecognition==3.8.1
wikipedia==1.4.0
yagmail==0.15.277
